<h1>Quick Loans</h1> <br>



<br>

<center><h3>Get your Instant Loan Now</h3></center> <br>
<form action="/list" method="post">
    <div class="form-group">
        <label for="label">Write your name here</label>
        <input id="name" name="name" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="label">Write your amount here</label>
        <input id="number" name="number" class="form-control" type="number"> <br>

    <button type="submit" class="btn-success">Submit</button>
</form>

