<!DOCTYPE html>
  <html>
    <head>
      <title>Loan Me</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
    
    <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My Loan Manager</a>
            </div>
          
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
  